.div-video{
  position: absolute;
  width: 12.9%;
  height: auto;
  z-index: 1;
  left: 41.7%;
  top: 29%;
}

.div-layer-sillon{
  bottom: -112px !important;
  top: initial !important;
}

.prender{
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  background: transparent;
  top: 420px;
  left: 40px;
  cursor: pointer;
}

.turn-off{
  filter: brightness(50%);
}

.div-logo{
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.div-logo img{
  width: 80%;
}
.div-main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transform: translateX(0px);
  transition: transform 0.3s ease;
}
/**sensibles areas**/

.sen-cafetera{
  position: absolute;
  z-index: 4;
  width: 14%;
  height: 178px;
  background: transparent;
  bottom: 20%;
  left: 2%;
  cursor: pointer;
}

.se-console{
  position: absolute;
  z-index: 4;
  width: 8%;
  height: 88px;
  background: transparent;
  top: 47%;
  left: 47%;
  cursor: pointer;
}

.sen-grammy1{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 75px;
  background: transparent;
  top: 47%;
  left: 7%;
  cursor: pointer;
}

.sen-grammy2{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 60px;
  background: transparent;
  top: 47%;
  left: 12%;
  cursor: pointer;
}

.sen-grammyl1{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 60px;
  background: transparent;
  top: 37%;
  left: 7%;
  cursor: pointer;
}

.sen-grammyl2{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 60px;
  background: transparent;
  top: 37%;
  left: 12%;
  cursor: pointer;
}

.sen-grammyl3{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 60px;
  background: transparent;
  top: 26%;
  left: 8%;
  cursor: pointer;
}


