.div-video{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 1;
  left: 40.4%;
  top: 28%;
}

.div-layer-sillon{
  bottom: -112px !important;
  top: initial !important;
}

.prender{
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  background: transparent;
  top: 420px;
  left: 40px;
  cursor: pointer;
}

.turn-off{
  filter: brightness(50%);
}

.sen-cafetera{
  position: absolute;
  z-index: 4;
  width: 14%;
  height: 178px;
  background: transparent;
  bottom: 20%;
  left: 2%;
  cursor: pointer;
}

.se-console{
  position: absolute;
  z-index: 4;
  width: 8%;
  height: 88px;
  background: transparent;
  top: 47%;
  left: 47%;
  cursor: pointer;
}

.div-logo{
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.div-logo img{
  width: 80%;
}