.div-video{
  position: absolute;
  width: 12.9%;
  height: auto;
  z-index: 1;
  left: 41.7%;
  top: 29%;
}

.div-perciana{
  position: absolute;
  width: 15.3%;
  height: auto;
  z-index: 1;
  right: 0%;
  top: 16%;
}

.layer-sillon{
  bottom: 0px;
}

.prender{
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  background: transparent;
  top: 420px;
  left: 40px;
  cursor: pointer;
}

.turn-off{
  filter: brightness(50%);
}

.div-logo{
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.div-logo img{
  width: 80%;
}
.div-main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transform: translateX(0px);
  transition: transform 0.3s ease;
}

/**sensibles areas**/
.sen-areas{
  position: absolute;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.sen-cafetera{
  position: absolute;
  z-index: 4;
  width: 14%;
  height: 10%;
  background: transparent;
  bottom: 38%;
  left: 2%;
  cursor: pointer;
}

.se-console{
  position: absolute;
  z-index: 4;
  width: 10%;
  height: 8.5%;
  background: transparent;
  top: 42%;
  left: 46%;
  cursor: pointer;
}

.sen-grammy1{
  position: absolute;
  z-index: 4;
  width: 4.5%;
  height: 5%;
  background: transparent;
  top: 42%;
  left: 7%;
  cursor: pointer;
}

.sen-grammy2{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 5%;
  background: transparent;
  top: 41.5%;
  left: 12%;
  cursor: pointer;
}

.sen-grammyl1{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 5%;
  background: transparent;
  top: 33.5%;
  left: 7%;
  cursor: pointer;
}

.sen-grammyl2{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 5%;
  background: transparent;
  top: 34%;
  left: 11.5%;
  cursor: pointer;
}

.sen-grammyl3{
  position: absolute;
  z-index: 4;
  width: 4%;
  height: 5%;
  background: transparent;
  top: 25%;
  left: 9%;
  cursor: pointer;
}

.sen-honeymommas{
  position: absolute;
  z-index: 4;
  width: 3%;
  height: 1.5%;
  background: transparent;
  top: 55.5%;
  right: 22%;
  cursor: pointer;
}

.sen-hu{
  position: absolute;
  z-index: 4;
  width: 2%;
  height:5%;
  background: transparent;
  bottom: 40%;
  left: 17.2%;
  cursor: pointer;
}

.sen-incienso{
  position: absolute;
  z-index: 4;
  width: 2%;
  height:4%;
  background: transparent;
  bottom: 42%;
  left: 20.2%;
  cursor: pointer;
}

.sen-iphone{
  position: absolute;
  z-index: 4;
  width: 2%;
  height: 2%;
  background: transparent;
  top: 54%;
  right: 23.5%;
  cursor: pointer;
}

.sen-mac{
  position: absolute;
  z-index: 4;
  width: 6%;
  height: 5%;
  background: transparent;
  top: 49%;
  right: 22%;
  cursor: pointer;
}

.sen-tepemachine{
  position: absolute;
  z-index: 4;
  width: 10%;
  height:16%;
  background: transparent;
  top: 38%;
  left: 23%;
  cursor: pointer;
}

.sen-tonnys{
  position: absolute;
  z-index: 4;
  width: 3%;
  height: 3%;
  background: transparent;
  top: 51%;
  right: 45%;
  cursor: pointer;
}

.sen-vela{
  position: absolute;
  z-index: 4;
  width: 2%;
  height: 3%;
  background: transparent;
  top: 50%;
  right: 29%;
  cursor: pointer;
}

.sen-vinil{
  position: absolute;
  z-index: 4;
  width: 8%;
  height: 5.3%;
  background: transparent;
  bottom: 39%;
  right: 13%;
  cursor: pointer;
}

.sen-yamaha{
  position: absolute;
  z-index: 4;
  width: 5%;
  height: 5%;
  background: transparent;
  top: 39%;
  right: 42.5%;
  cursor: pointer;
}

.sen-yamaha-left{
  position: absolute;
  z-index: 4;
  width: 5%;
  height: 5%;
  background: transparent;
  top: 39%;
  left: 39%;
  cursor: pointer;
}

.sen-cortina{
  position: absolute;
  z-index: 4;
  width: 15%;
  height: 35%;
  background: transparent;
  top: 23%;
  right: 0%;
  cursor: pointer;
}

.sen-ampli{
  position: absolute;
  z-index: 4;
  width: 5%;
  height: 5%;
  background: transparent;
  top: 57%;
  left: 46.5%;
  cursor: pointer;
}

.sen-lights{
  position: absolute;
  z-index: 4;
  width: 3.5%;
  height: 5%;
  background: transparent;
  top: 39%;
  left: 2%;
  cursor: pointer;
}