/* src\modal\button.css */
.div-close-btn{
  position: absolute !important;
  top:10px;
  left: 35%;
  padding-bottom: 0px;
  display: flex;
}
.div-close-btnc{
  position: fixed !important;
  top:20px;
  left: 37%;
  padding-bottom: 0px;
  display: flex;
}
.div-close-btn span{
  margin-left: 7px;
  position: relative;
  top: 11px;
  color: #fff;
}
.div-close-btnc span{
  margin-left: 7px;
  position: relative;
  top: 11px;
  color: #fff;
}
.close-button-m {
  background-color: #252525;
  border: 2px solid #f2d0a1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.close-button-m::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
}

.close-button-m:hover::before {
  width: 200%;
  height: 200%;
}

.close-button-m:hover {
  background-color: #fff;
}

.close-button-m svg {
  color: #fff;
  transition: color 0.3s ease;
  z-index: 1;
}

.close-button-m:hover svg {
  color: #000;
}

@media (max-width: 768px) {
  .div-close-btn span{
    display: none;
  }
  .div-close-btnd span{
    display: none;
  }
}