/* styles.css */
.video-container {
  position: relative;
  width: 100%; /* Ajusta al contenedor padre */
  aspect-ratio: 16 / 9; /* Ajusta según la relación de aspecto del video */
  overflow: hidden;
}


.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
