@font-face {
  font-family: "modeseven";
  src: url("./fonts/Modeseven-L3n5.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "monserratblack";
  src: url("./fonts/MONTSERRAT-BLACK.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "monserratmedium";
  src: url("./fonts/MONTSERRAT-MEDIUM.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "monserratregular";
  src: url("./fonts/MONTSERRAT-REGULAR.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "monserratregular" !important;
}


.parallax-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.parallax-scene {
  width: 100%;
  height: 100%;
  position: relative;
}

.layer img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

.img-scenes {
  width: 100%;
  height: auto;
}

.layer-mezcladora{
  top: 0% !important;
  z-index: 3;
  cursor: pointer;
}

.layer-areas {
  position: relative;
  z-index: 2;
  margin-top: 170px;
}

.parent-particles{
  position: absolute;
  width: 100%;
  height: 100vh;
}
.particle {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  pointer-events: none;
  animation: float 6s infinite ease-in-out;
  opacity: 0; /* Inicialmente invisibles */
}

.particle-1 {
  top: 10%;
  left: 20%;
  animation-delay: 0s;
}

.particle-2 {
  top: 30%;
  left: 50%;
  animation-delay: 1.5s;
}

.particle-3 {
  top: 50%;
  left: 70%;
  animation-delay: 3s;
}

.particle-4 {
  top: 70%;
  left: 10%;
  animation-delay: 4.5s;
}

@keyframes float {
  0%, 100% {
    opacity: 0;
    transform: translateY(0) translateX(0) scale(1);
  }
  10% {
    opacity: 1;
    transform: translateY(-20px) translateX(20px) scale(1.2);
  }
  50% {
    opacity: 1;
    transform: translateY(-40px) translateX(40px) scale(1.5);
  }
  90% {
    opacity: 0;
    transform: translateY(-60px) translateX(60px) scale(1.8);
  }
}

/** Vela **/
.candle{
  position: absolute;
  top: 48.3%;
  right: 28.9%;
  width: 1%;
  height: 1%;
  z-index: 1;
  transform: scale(.3);
}
.flame {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 30px;
  background: rgba(255, 120, 0, 0.7);
  border-radius: 50% 50% 20% 20%;
  box-shadow: 
    0 0 10px 5px rgba(255, 120, 0, 0.5),
    0 0 20px 10px rgba(255, 220, 0, 0.4),
    0 0 30px 15px rgba(255, 94, 0, 0.3);
  animation: flicker 1.5s ease-in-out infinite alternate;
  transform-origin: center bottom;

}

@keyframes flicker {
  0%, 100% {
    transform: translateX(-50%) scale(1, 1);
    opacity: 0.8;
  }
  20% {
    transform: translateX(-50%) scale(0.9, 1.1);
  }
  40% {
    transform: translateX(-50%) scale(1.1, 0.9);
  }
  60% {
    transform: translateX(-50%) scale(0.95, 1.05) rotate(-1deg);
  }
  80% {
    transform: translateX(-50%) scale(1.05, 0.95) rotate(1deg);
  }
}